/* 
.icon-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2px;
    cursor:pointer;
    position: relative;
}

.icon {
    width:100%; 
    position: relative;
    background-color:lightslategray;
    border-radius:50%;
} */


.icon-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2px;
    cursor:pointer;
    position: relative;
}

.icon {
    position: relative;
    display: inline-block;
    border: 3px solid #7E9CC2;
    background-color:olivedrab; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin:5px;
}

.icon img {
    position: absolute;
    top: 50%; left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}


.name {
    position: absolute;
    bottom:-10px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    font-size: 14px;
    width:100%;
    color:white;
}